body {
    font-size: 250%; /* Will be overridden at runtime XSlides.js by XSlides.setFontSizeFromWindowSize(). */
    margin: 0px;
    top: 0px; bottom: 0px; height: auto;
    left: 0px; right: 0px; width: auto;
    position: absolute;
}
div.notes {
    display: none;
}
div.slide {
    display: none;
    padding: 1em;
    width: auto;
    height: auto;
    top: 0px; bottom: 0px;
    left: 0px; right: 0px;
    position: absolute;
    overflow: auto;
}
div.slide h1 {
    margin-top: 0px;
}
div.XSlidesToc {
    font-size: 75%;
    left: 1em;
    position: fixed;
    top: 1em;
    visibility: hidden;
    padding: 1ex;
    opacity: 0.9;
    border-radius: 0.5ex;
    background-color: #fff;
    background: linear-gradient(top to bottom, rgba(255, 255, 255, 0.9), rgba(128, 128, 128, 0.9));
    background: -webkit-linear-gradient(rgba(255, 255, 255, 0.9), rgba(128, 128, 128, 0.9));
    color: #000;
    font-family: Sans-Serif;
}
div.XSlidesToc h4 {
    margin: 0px;
    padding: 0px;
}
div.XSlidesToc a {
    display: block;
}
