body {
    font-size: 200%;
}
div.notes {
    display: none;
}
div.slide {
    display: none;
    padding: 1em;
}
div.slide h1 {
    margin-top: 0px;
}
div.XSlidesToc {
    font-size: 75%;
    left: 1em;
    position: fixed;
    top: 1em;
    visibility: hidden;
    padding: 1ex;
}
div.XSlidesToc a {
    display: block;
}
