body, .XSlidesToc {
    background-color: #000;
    color: #ccc;
    font-family: "DejaVu Sans", Sans-Serif;
}

pre, code, kbd, samp {
    font-family: "DejaVu Sans Mono";
}

a {
    color: #1e5;
}

.XSlidesToc {
    border: 4px dashed #1e5;
}
h1 {
    color: #1e5;
    border-bottom: #1e5 1px solid;
}
