body, .XSlidesToc {
    background-color: #ffc;
    color: #222;
    font-family: "DejaVu Serif", "Serif";
}

pre, code, kbd {
    font-family: "DejaVu Sans Mono", "Serif";
}

.XSlidesToc {
    border-color: #222;
}

h1 {
    color: #000;
    text-align: center;
}
