.oldschool {
    background-color: #ffc;
    color: #222;
    font-family: "DejaVu Serif", "Serif";
}

.oldschool pre, .oldschool code, .oldschool kbd {
    font-family: "DejaVu Sans Mono", "Serif";
}

.oldschool .XSlidesToc {
    border-color: #222;
}

.oldschool h1 {
    color: #000;
    text-align: center;
}
