.original.slide {
    background-image: url('data: image/gif;base64,R0lGODdhHAAQAKEEAAwMDCMjIzo6OlBQUCwAAAAAHAAQAEACQIyBaZvt5+KCbYYopxh8CLts3TdhD4VpJnmZCgiHa+nGtvuileySOKJysFo4G+wHMIIEuKFpGXH+lBYklVYMFAAAOw==');
}
.original {
    color: #fff;
    font-family: "Lucida Sans Unicode", "Lucida Sans", "Helvetica", "Arial", Sans-Serif;
}

.original .XSlidesToc {
    background-color: rgba(0, 0, 0, 0.8);
    border: rgba(255, 255, 255, 0.5) 2px solid !important;
}

.original .h1Container {
    text-align: center;
    border-radius: 1ex;
    opacity: 0.875;
    background-color: #000;
    background: linear-gradient(to bottom, rgba(48, 48, 48, 0.875), rgba(16, 16, 16, 0.875));
    background: -webkit-linear-gradient(rgba(48, 48, 48, 0.875), rgba(16, 16, 16, 0.875));
}
