.terminal {
    background-color: #011;
    color: #1f6;
    font-family: "DejaVu Sans Mono";
}

.terminal code, .terminal kbd, .terminal pre, .terminal samp, .terminal tt {
    font-family: "DejaVu Sans Mono";
}

.terminal a {
    color: #2fa;
}
